body {
  background: #cd9cf2;
}
h1,
p {
  text-align: center;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
  display: flex;
  font-size: 28px;
  text-decoration: none;
}
.a {
  text-align: center;
  text-decoration: none;
}
.img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
footer {
  text-align: center;
}
