body {
  background: #cd9cf2;
  color: whitesmoke;
}
h1,
p {
  text-align: center;
}
.contact-me-title {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  display: flex;
  font-size: 28px;
  text-decoration: none;
}
img {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: whitesmoke;
}
